*{
    margin: 0;
    padding: 0;
}

img{
    width:10vw;
}

h1{
    font-size: 10vh;
    margin: 0;
}

header{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-between;
    height: 40vh;
}

#login_form{
    justify-content: flex-start;
    gap: 8vh;
}

.info{
    display: flex;
    flex-direction: column;
}

#wich{
    display: none;
}

.entr{
    height: 7vh;
    width: 20vw;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(164, 7, 7);
    font-size: 4vh;
    color: white;
}

input{
    border-radius: 50px;
    border-style: none;
    background-color: rgb(217, 217, 217);
}

.info input{
    width: 35vw;
    height: 5vh;
}

.centr{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#pagamentos {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Posiciona sobre os outros elementos */
    width: 40vw;
    height: 60vh;
    background-color: white; /* Cor de fundo semi-transparente */
    color: black; /* Texto em branco */
    border: 10px solid red;
    border-radius: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    z-index: 1000; /* Garante que o formulário ficará acima dos outros elementos */
    padding: 20px;
    gap: 40px;
}